>>> .mat-icon-button{line-height: 20px; height: 20px; margin-top: -1px;}

:host {position: relative; margin-right: 20px;}
:host .info-icon{position: absolute;     right: -35px;top: -1px;}

@media screen and (max-width: 600px){
    :host {    padding-top: 10px;align-self: flex-end;}
    :host .info-icon{right: -30px;top: 7px;}
}