 .cdk-column-message.mat-column-message {
    flex-grow: 4;
}





@media screen and (max-width: 600px){
    :host .mat-header-row, .mat-row{flex-wrap: wrap;}
    :host .mat-cell, .mat-header-cell{flex:unset; width: 50%;}
    .cdk-column-message.mat-column-message {width: 100%;border-top: 0.5px solid rgba(0,0,0,.12);padding-top: 5px;}
    .mat-header-cell.cdk-column-message.mat-column-message {padding-top: 6px;}

    .cdk-column-date.mat-column-date {border-right: 0.5px solid rgba(0,0,0,.48); padding-right: 10px;}
    .cdk-column-name.mat-column-name {width: 45%;}
}
