>>> carousel-arrows .material-icons{font-size: 124px}

>>> i.fa.fa-angle-left.carousel-nav__btn.carousel-nav__btn--left{left:-30px}
>>> i.fa.fa-angle-right.carousel-nav__btn.carousel-nav__btn--right{right:-30px}



.flexy {display: flex; justify-content: space-around;}

.flexy-fill {display: flex; justify-content: space-between; }

.flexy-fill > * { width: 49%; }


@media screen and (max-width: 600px){
    .flexy-fill { flex-direction: column; }
    .flexy-fill > * { width: 100%; }
}