<h2>Welcome to Dream Home</h2>


<div style="width: 100%; height: 400px">
  <carousel #carousel [sourcesHtml]="imageWithHtmlSources" [config]="config"></carousel>
</div>


<div class="flexy-fill-2">
  <div>
    <component-wrapper title="Jobs Offers">
      <job-offers></job-offers>
    </component-wrapper>
  </div>

  <div>
    <component-wrapper title="Help Group">
      <firebase2-ui title-buttons mode="title"></firebase2-ui>
      <help-group></help-group>
    </component-wrapper>
  </div>
</div>

<div>Here should be another slider for birthdays, pics and dates and mailto</div>


