<h2>Welcome to Dream Home</h2>


<div style="width: 100%; height: 400px">
  <carousel #carousel [sourcesHtml]="imageWithHtmlSources" [config]="config"></carousel>
</div>


<div class="flexy-fill">
  <div>
    <component-wrapper title="Jobs Offers">
      <job-offers></job-offers>
    </component-wrapper>
  </div>

  <div>
    <component-wrapper title="Live Requests">
      <job-offers></job-offers>
    </component-wrapper>
  </div>
</div>

<div>Here should be another slider for birthdays, pics and dates and mailto</div>


