.bannerStyle h1 {
    background-color: #ccc;
    min-height: 300px;
    text-align: center;
    line-height: 300px;
}


.flexy {display: flex; justify-content: space-around;}

.flexy-fill-2 {display: flex; justify-content: space-between; }

.flexy-fill-2 > * { width: 49%; }


@media screen and (max-width: 600px){
    .flexy-fill-2 { flex-direction: column; }
    .flexy-fill-2 > * { width: 100%; }
}