<h2>Welcome to Dream Home</h2>


<div class="main-slider "  [ngStyle]="{'margin-left.px': marginLeftSlider() }" >
  <ngx-carousel  
  [inputs]="carouselBanner" 
  (carouselLoad)="carouselBannerLoad($event)">

      <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let Banner of carouselBannerItems; let i = index">
          <div class="slide-html">
              <h3>Go Find What you Love to do {{ i + 10 }}</h3>
              <p>
                yes you should do that it will make you happy believe me i love you
                <br><br>
                <a href="#">read more...</a>
              </p>
          </div>
          <img src="{{Banner}}" />
      </ngx-item>

      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
</div>


<div class="flexy-fill-2">
  <div>
    <component-wrapper title="Jobs Offers">
      <job-offers></job-offers>
    </component-wrapper>
  </div>

  <div>
    <component-wrapper title="Requests & Messages">
      <firebase2-ui title-buttons mode="title"></firebase2-ui>
      <help-group></help-group>
    </component-wrapper>
  </div>
</div>

<div class="birthdays box-border">
  <ngx-carousel 
    [inputs]="carouselTile" 
    (carouselLoad)="carouselTileLoad($event)">
          <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
              <a href="mailto:example.birthday@gmail.com?Subject=Happy%20Birthday" target="_blank">
                <h4>{{Tile + 1}} - Jhon Doe</h4>
                <img src="https://raw.githubusercontent.com/bresleveloper/ng4/master/src/assets/person-flat.png" />
              </a>
          </ngx-tile>

        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
</div>

<div style="height:100px"></div>

