/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";

options are 
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css

*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html { overflow-y: scroll}

body { max-width: 80%; margin: 0 auto; text-align: center; }
@media screen and (max-width: 600px){
    body { max-width: 95%;}
}

div {text-align:center}

.box-border {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}




/* material table  */
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

@media screen and (max-width: 600px){
    .docs-example-viewer-title{    flex-direction: column;}
    .docs-example-viewer-title-spacer{align-self: flex-start}
    .mat-table { max-height: 300px; }
}
