/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";

options are 
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css

*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html { overflow-y: scroll}

body { max-width: 80%; margin: 0 auto; text-align: center; }

div {text-align:center}

.flexy {display: flex; justify-content: space-around;}

