
<h3>
  msdn-products-app
</h3>

<h4>Search by ID</h4>
<form>
  <mat-form-field>
    <input matInput placeholder="ID" [(ngModel)]="PID" name="pid" >
    <button mat-icon-button (click)="SeachById(PID)" ><mat-icon>search</mat-icon></button>
  </mat-form-field>

  <div>
    <mat-card *ngIf="searchedProduct">
      <mat-card-title>{{ searchedProduct.Name }}</mat-card-title>
      <mat-card-subtitle>{{ searchedProduct.Category }}</mat-card-subtitle>
      <mat-card-content>{{ searchedProduct.Price }}</mat-card-content>
    </mat-card>  
  </div>
      
  <div class="filter">
    <mat-form-field>
      <input matInput placeholder="filter by name" [(ngModel)]="pfilter" name="pfilter" >
      <mat-icon>filter_list</mat-icon>
  </mat-form-field>
  </div>

</form>


<h4>All Products</h4>

<ng-template #loading>
  Loading Products<br>
  <img src="https://raw.githubusercontent.com/bresleveloper/ng4/master/src/assets/ajax-loader.gif" />
</ng-template>

<mat-grid-list cols="3" rowHeight="1.5:1" 
*ngIf="svc.products && svc.products.length && svc.products.length > 0; else loading">

<mat-grid-tile *ngFor="let p of svc.products | filterBy: ['Name', 'Category']: pfilter" >
    <h4>{{ p.Category }} </h4>
    <span>&rarr; {{ p.Name }} &larr;</span>
    <span>{{ p.Price }} $</span>
  </mat-grid-tile>
</mat-grid-list>



  